@model IEnumerable<Sklep.Models.CMS.Aktualnosc>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create",null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tytul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrescAktualnosci)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PozycjeWyswietlania)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tytul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrescAktualnosci)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PozycjeWyswietlania)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdAktualnosc }, new {@class= "btn btn-primary"}) 
            @Html.ActionLink("Details", "Details", new { id = item.IdAktualnosc }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.IdAktualnosc }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
