@model Sklep.Models.CMS.Ogloszenie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ogloszenie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tytul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrescOgloszenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrescOgloszenia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdOgloszenia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
